<footer>
    <div class="social-media-container">
        <div class="icon">
            <a href="https://www.facebook.com/connor.simpson.129794"><i class="fa-brands fa-facebook-f"></i></a>
        </div>
        <div class="icon">
            <a href="https://www.instagram.com/connorsimpsoncomposer/"><i
                    class="fa-brands fa-instagram"></i></a>
        </div>
        <div class="icon">
            <a
                href="https://soundcloud.com/connor-simpson-326466060?utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing"><i
                    class="fa-brands fa-soundcloud"></i></a>
        </div>
        <div class="icon">
            <a href="https://www.youtube.com/@connorsimpson5435/featured"><i
                    class="fa-brands fa-youtube"></i></a>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright @ 2022 Connor Simpson</p>
    </div>
</footer>
