<header>
    <div class="header-container">
        <a href="/" class="index-link" style="color: black; text-decoration: none;">
            <span class='header-blurb'>CONNOR SIMPSON | COMPOSER</span>
        </a>
        <div class="navbar">
            <ul class="navbar-list">
                <li>
                    <div class="itembox about"><a href="about" class="about">ABOUT</a></div>
                </li>
                <li>
                    <div class="itembox listen"><a href="listen" class="listen">LISTEN</a></div>
                </li>
                <li>
                    <div class="itembox works"><a href="works" class="works">WORKS</a></div>
                </li>
                <li>
                    <div class="itembox contact"><a href="contact" class="contact">CONTACT</a></div>
                </li>
            </ul>
        </div>
    </div>
</header>
