
/*
 * stylesheet for connorsimpsonmusic.com
 *
 * Sections:
 * GENERAL STYLING
 * HEADER
 * FOOTER
 * INDEX PAGE
 * LISTEN PAGE
 * WORKS PAGE
 * CONTACT PAGE
 */

/* ==================================================
                 GENERAL STYLING
   ================================================== */

body {
  font-family: 'Lato';
  margin: 0;
}

.body-container {
  min-height: 100vh;
  position: relative;
}

.content-wrap {
  margin: 0;
  padding-bottom: 4.5rem;
  height: auto;
}

a:focus {
  border: 0;
}

img {
  width: 100%;
}


/* ==================================================
                  HEADER
   ================================================== */


.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  gap: 8px;
  text-align: center;
  margin-bottom: 32px;
}

.header-blurb {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  margin: 0;
}

.index-link {
  color: black;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  letter-spacing: 0.1rem;
  flex-wrap: wrap;
  width: 100%;
}

.navbar ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 8px;
}

.navbar li {
  display: inline-block;
}

.navbar a {
  display: block;
  padding: 0 8px;
  width: 75px;
  text-align: center;
}

.itembox a {
  color: #71797E;
  text-decoration: none;
}

.itembox a:hover,
.itembox .current {
  color: black;
  text-decoration: underline;
  text-underline-offset: 8px;
}

/* === Desktop Enhancements === */
@media (min-width: 768px) {
  .header-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    height: 56px;
  }

  .header-blurb {
    font-size: 24px;
    margin-bottom: 0;
  }

  .navbar {
    justify-content: flex-end;
    font-size: 16px;
    width: auto;
  }

  .navbar a {
    width: 80px;
  }
}

/* ==================================================
                  FOOTER
   ================================================== */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4.5rem;
  background-color: gainsboro;
}

.social-media-container {
  text-align: center;
  margin: 16px 0 12px;
}

.icon {
  display: inline-block;
  text-align: center;
  margin-right: 3px;
  font-size: 22px;
}

.icon a {
  color: #71797E;
  text-decoration: none;
}

.icon a:hover,
.icon .current {
  color: black;
  text-decoration: underline;
  text-underline-offset: 8px;
}

.copyright p {
  font-size: 10px;
  text-align: center;
  margin: 4px 0 2px;
}

/* ==================================================
                  INDEX PAGE
   ================================================== */

.index-grid {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem 0;
}

.index-center-grid {
  margin: auto;
  width: 100%;
  max-width: 1280px;
  text-align: center;
}

.index-item {
  display: inline-block;
  width: 100%;
  max-width: 562px;
  padding: 0 14px;
}

.index-text {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
}

.index-image img {
  max-height: 374.67px;
}

.index-blurb {
  text-align: center;
  margin: 52px auto;
  font-size: 18px;
  max-width: 80%;
}

.index-blurb a,
.index-item a {
  color: black;
  text-decoration: none;
  font-weight: 400;
}

.index-blurb a:hover,
.index-item a:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
}

@media (min-width: 768px) {
  .index-item {
    width: 50%;
  }
}

/* ==================================================
                  LISTEN PAGE
   ================================================== */

.media-header h3 {
  font-size: 20px;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1rem;
}

.video-container {
  width: 80vw;
  margin: 0 auto;
}

.boxofbox {
  display: inline-block;
  width: 100%;
}

.videobox {
  position: relative;
  padding-bottom: 56.25%;
}

.videobox iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.soundcloudlinks {
  margin: 0 10%;
}

.for-more {
  font-size: 20px;
  text-align: center;
  margin: 0;
}

.for-more p {
  font-size: 12px;
  margin: 4px;
}

.for-more a {
  color: #3366CC;
  text-decoration: underline;
}

.listen-score-plug {
  text-align:center;
}

.boxofbox p,
.soundcloud-box p {
  margin: 4px;
}

@media (min-width: 768px) {
  .video-container {
    width: 89vw;
  }

  .boxofbox {
    width: 40vw;
    margin: 2vw;
  }

  .soundcloudlinks {
    width: 60%;
    margin: 0 auto;
  }

  .for-more p {
    font-size: 18px;
  }
}

/* ==================================================
                  WORKS PAGE
   ================================================== */

.works-page-container {
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.work-body {
  margin-left: 15px;
}

.works-spacer {
  height: 18px;
}

.work-item {
  padding-right: 8px;
  padding-bottom: 12px;
}

.work-text,
.work-text h3,
.title p,
.instrumentation p,
.text p,
.list-of-works h2 {
  margin: 0;
  text-align: left;
}

.work-text h3 {
  font-size: 20px;
  margin-bottom: 4px;
}

.title p,
.instrumentation p {
  font-size: 12px;
}

.title p {
  font-weight: 600;
}

.score {
  text-align: center;
}

.score a {
  color: #71797E;
  text-decoration: underline;
}

.score a:hover {
  color: black;
  font-weight: bolder;
}

.contact-for-performance a {
  text-decoration: underline;
}

.contact-for-performance a:hover {
  font-weight: normal;
}

.list-of-works {
  margin: 0 8px 120px;
  width: 100%;
}

.list-of-works a {
  color: black;
  text-decoration: none;
}

.list-of-works a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .works-page-container {
    width: 960px;
    grid-template-columns: 320px 640px;
  }

  .title p,
  .instrumentation p {
    font-size: 16px;
  }

  .list-of-works {
    width: 320px;
  }

  .list-of-works h2 {
    font-size: 24px;
  }

  .works-spacer {
    height: 24px;
  }
}


/* ==================================================
                  CONTACT PAGE
   ================================================== */



.contact-form-spacer {
  height: 8vh;
}

.contact-header {
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 28px;
  margin-bottom: 42px;
}

.contact-form {
  margin-top: 30%;
  width: 90%;
  max-width: 900px;
  text-align: center;
  margin: auto;
}


form {
  width: 100%;
  text-align: left;
  font-size: 4px;
}

input {
  border-radius: 0px;
  width: 100%;
  height: 42px;
  padding-left: 4px;
  box-sizing: border-box;
  border: 2px solid black;
  padding-top: 0.25em;
  padding-left: 0.25em;
  border-bottom: 0px;
}

input:focus {
  border-bottom: 0px;
}

textarea {
  border-radius: 0px;
  width: 100%;
  margin-bottom: 12px;
  padding-left: 2px;
  box-sizing: border-box;
  height: 96px;
  font-family: 'Proxima-nova', sans-serif;
  border: 2px solid black;
  padding-top: 0.5em;
  padding-left: 0.25em;
  resize: none;
}

:focus {
  outline: none;
  box-sizing: border-box;
  border: 2px solid black;
}

::placeholder {
  font-family: 'Proxima-nova', sans-serif;
  color: black;
  font-size: 14px;
}

button {
  border-radius: 0px;
  height: 32px;
  background-color: gainsboro;
  width: 52px;
  text-align: center;
}

.send-button {
  text-align: right;
}


/* ==================================================
                  THANK YOU PAGE
   ================================================== */


.thank-you-spacer {
  height: 18vh;
}

.thank-you-header {
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 42px;
  margin-bottom: 42px;
}

.thank-you-container {
  margin-top: 30%;
  width: 90%;
  max-width: 900px;
  text-align: center;
  margin: auto;
}

.jwpepper-plug {
  text-align: center;
}


/* ==================================================
                  ABOUT PAGE
   ================================================== */


.about-header {
  font-weight: 100;
  font-size: 42px;
}

.biobox p {
  margin-top: 0px;
  font-size: 15px;
  line-height: 1.5em;
}

.biobox {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.biogrid {
  box-sizing: border-box;
  padding-left: 12px;
  padding-right: 12px;
  margin: auto;
  overflow: auto;
}

.biobox-wrapper {
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}

.biobox {
  width: 100%;
  box-sizing: border-box;
}

.headshotbox-wrapper {
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
}

.headshotbox {
  padding-top: 120px;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  margin-bottom: 120px;
}


@media all and (min-width: 720px) {
  
  .biogrid {
    max-width: 1080px;
    margin: auto;
    overflow: auto;
  }

  .biobox-wrapper {
    float: left;
    width: 66.66%;
  }

  .biobox {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 120px;
  }
  
  .headshotbox-wrapper {
    float: left;
    width: 33.33%;
  }

  .headshotbox {
    width: 100%;
    box-sizing: border-box;
  }
}
