<footer class="site-footer">
  <div class="social-media-container">
    <a href="https://www.facebook.com/connor.simpson.129794" aria-label="Facebook">
      <i class="fa-brands fa-facebook-f"></i>
    </a>
    <a href="https://www.instagram.com/connorsimpsoncomposer/" aria-label="Instagram">
      <i class="fa-brands fa-instagram"></i>
    </a>
    <a href="https://soundcloud.com/connor-simpson-326466060?utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing"
      aria-label="SoundCloud">
      <i class="fa-brands fa-soundcloud"></i>
    </a>
    <a href="https://www.youtube.com/@connorsimpson5435/featured" aria-label="YouTube">
      <i class="fa-brands fa-youtube"></i>
    </a>
  </div>

  <p class="footer-copy">&copy; 2022 Connor Simpson</p>
</footer>
