{% assign all_categories = "Large Ensemble,Chamber Ensemble,Solo,With Electronics,With Voice" | split: "," %}

<div class="list-of-works">
  <h2>List of Works</h2>

  {% for category in all_categories %}
    <details>
      <summary><strong>{{ category }}</strong></summary>

      {% assign works_in_category = site.works | where_exp: "work", "work.categories contains category" %}
      {% assign sorted_works = works_in_category | sort: "year" | reverse %}

      {% for work in sorted_works %}
        <a href="{{ work.url }}" class="work-item">
          <div class="title">
            <p><em>{{ work.title }}</em> ({{ work.year }})</p>
          </div>
          <div class="instrumentation">
            <p>{{ work.instrumentation }}</p>
          </div>
        </a>
      {% endfor %}
    </details>
  {% endfor %}
</div>
