<div class="list-of-works">
  <h2>List of Works</h2>

  <details>
    <summary><strong>Large Ensemble</strong></summary>

    <a href="/works/as-it-were/" class="work-item">
      <div class="title">
        <p><em>As it were</em> (2023)</p>
      </div>
      <div class="instrumentation">
        <p>Sinfonietta (7')</p>
      </div>
    </a>

    <a href="/works/prancer/" class="work-item">
      <div class="title">
        <p><em>Prancer</em> (2021)</p>
      </div>
      <div class="instrumentation">
        <p>wind ensemble (7')</p>
      </div>
    </a>
  </details>

  <details>
    <summary><strong>Chamber Ensemble / Duo</strong></summary>

    <a href="/works/o-vos-omnes/" class="work-item">
      <div class="title">
        <p><em>O Vos Omnes</em> (2023)</p>
      </div>
      <div class="instrumentation">
        <p>string quartet (9')</p>
      </div>
    </a>

    <a href="/works/there-are-no-people/" class="work-item">
      <div class="title">
        <p><em>there are no people</em> (2022)</p>
      </div>
      <div class="instrumentation">
        <p>duo for soprano and bass flute (ca. 5')</p>
      </div>
    </a>

    <a href="/works/the-memory-of-a-story/" class="work-item">
      <div class="title">
        <p><em>the Memory of a Story</em> (2022)</p>
      </div>
      <div class="instrumentation">
        <p>saxophone quartet (15')</p>
      </div>
    </a>

    <a href="/works/who-knows-if-the-moons-a-balloon/" class="work-item">
      <div class="title">
        <p><em>who know's if the moon's a balloon</em> (2022)</p>
      </div>
      <div class="instrumentation">
        <p>Loadbang ensemble (3'30")</p>
      </div>
    </a>

    <a href="/works/something-which-wanders-and-falls/" class="work-item">
      <div class="title">
        <p><em>Something which wanders and falls</em> (2022)</p>
      </div>
      <div class="instrumentation">
        <p>Hypercube ensemble (6'15")</p>
      </div>
    </a>

    <a href="/works/scordatura/" class="work-item">
      <div class="title">
        <p><em>Scordatura</em> (2021)</p>
      </div>
      <div class="instrumentation">
        <p>(ETTT) tuba and euphonium quartet and live electronics (4'10")</p>
      </div>
    </a>

    <a href="/works/buzzed/" class="work-item">
      <div class="title">
        <p><em>Buzzed</em> (2021)</p>
      </div>
      <div class="instrumentation">
        <p>percussion quartet (6')</p>
      </div>
    </a>

    <a href="/works/i-quite-like-perfect-fourths/" class="work-item">
      <div class="title">
        <p><em>I quite like perfect fourths</em> (2021)</p>
      </div>
      <div class="instrumentation">
        <p>duo for flute and Bb clarinet (1')</p>
      </div>
    </a>

    <a href="/works/may-the-lord-protect-my-wealth/" class="work-item">
      <div class="title">
        <p><em>May the Lord Protect my Wealth</em> (2020)</p>
      </div>
      <div class="instrumentation">
        <p>string quartet (5')</p>
      </div>
    </a>

    <a href="/works/i-shall-imagine-life/" class="work-item">
      <div class="title">
        <p><em>i shall imagine life</em> (2020)</p>
      </div>
      <div class="instrumentation">
        <p>wind quintet</p>
      </div>
    </a>

    <a href="/works/decisive-purpose/" class="work-item">
      <div class="title">
        <p><em>Decisive Purpose</em> (2020)</p>
      </div>
      <div class="instrumentation">
        <p>duo for tuba and percussion</p>
      </div>
    </a>

    <a href="/works/insufficient-title/" class="work-item">
      <div class="title">
        <p><em>Insufficient Title</em> (2019)</p>
      </div>
      <div class="instrumentation">
        <p>duo for flute and marimba (6')</p>
      </div>
    </a>
  </details>

  <details>
    <summary><strong>Solo</strong></summary>

    <a href="/works/a-short-cry/" class="work-item">
      <div class="title">
        <p><em>a short cry</em> (2025)</p>
      </div>
      <div class="instrumentation">
        <p>solo violin (5')</p>
      </div>
    </a>

    <a href="/works/wrong-chain/" class="work-item">
      <div class="title">
        <p><em>Wrong Chain</em> (2022)</p>
      </div>
      <div class="instrumentation">
        <p>solo violin (8')</p>
      </div>
    </a>

    <a href="/works/noisy-bugle/" class="work-item">
      <div class="title">
        <p><em>Noisy Bugle</em> (2022)</p>
      </div>
      <div class="instrumentation">
        <p>noisybugle and live electronics (6')</p>
      </div>
    </a>

    <a href="/works/purple-gap/" class="work-item">
      <div class="title">
        <p><em>Purple Gap</em> (2022)</p>
      </div>
      <div class="instrumentation">
        <p>solo vibraphone (2')</p>
      </div>
    </a>

    <a href="/works/mad-song/" class="work-item">
      <div class="title">
        <p><em>Mad Song</em> (2020)</p>
      </div>
      <div class="instrumentation">
        <p>baritone voice and piano (5')</p>
      </div>
    </a>

    <a href="/works/broken-tongue/" class="work-item">
      <div class="title">
        <p><em>Broken Tongue</em> (2019)</p>
      </div>
      <div class="instrumentation">
        <p>solo piano (5')</p>
      </div>
    </a>

    <a href="/works/lament/" class="work-item">
      <div class="title">
        <p><em>Lament</em> (2019)</p>
      </div>
      <div class="instrumentation">
        <p>solo cello (30")</p>
      </div>
    </a>

    <a href="/works/misunderstandings/" class="work-item">
      <div class="title">
        <p><em>Misunderstandings</em> (2019)</p>
      </div>
      <div class="instrumentation">
        <p>solo multi-percussion (5')</p>
      </div>
    </a>
  </details>

  <details>
    <summary><strong>With Voice</strong></summary>

    <a href="/works/there-are-no-people/" class="work-item">
      <div class="title">
        <p><em>there are no people</em> (2022)</p>
      </div>
      <div class="instrumentation">
        <p>duo for soprano and bass flute (ca. 5')</p>
      </div>
    </a>

    <a href="/works/exile/" class="work-item">
      <div class="title">
        <p><em>Exile</em> (2021)</p>
      </div>
      <div class="instrumentation">
        <p>soprano and reed quintet (5')</p>
      </div>
    </a>

    <a href="/works/mad-song/" class="work-item">
      <div class="title">
        <p><em>Mad Song</em> (2020)</p>
      </div>
      <div class="instrumentation">
        <p>baritone voice and piano (5')</p>
      </div>
    </a>
  </details>

  <details>
    <summary><strong>With Electronics</strong></summary>

    <a href="/works/noisy-bugle/" class="work-item">
      <div class="title">
        <p><em>Noisy Bugle</em> (2022)</p>
      </div>
      <div class="instrumentation">
        <p>noisybugle and live electronics (6')</p>
      </div>
    </a>

    <a href="/works/scordatura/" class="work-item">
      <div class="title">
        <p><em>Scordatura</em> (2021)</p>
      </div>
      <div class="instrumentation">
        <p>(ETTT) tuba and euphonium quartet and live electronics (4'10")</p>
      </div>
    </a>

    <a href="/works/invalid-validity/" class="work-item">
      <div class="title">
        <p><em>Invalid Validity</em> (2021)</p>
      </div>
      <div class="instrumentation">
        <p>one or more instruments with fixed media (6'30")</p>
      </div>
    </a>

    <a href="/works/ill/" class="work-item">
      <div class="title">
        <p><em>ill</em> (2021)</p>
      </div>
      <div class="instrumentation">
        <p>quadraphonic fixed media (9'30")</p>
      </div>
    </a>

    <a href="/works/allargando/" class="work-item">
      <div class="title">
        <p><em>Allargando</em> (2021)</p>
      </div>
      <div class="instrumentation">
        <p>fixed media (4'30")</p>
      </div>
    </a>

    <a href="/works/panic/" class="work-item">
      <div class="title">
        <p><em>panic</em> (2019)</p>
      </div>
      <div class="instrumentation">
        <p>fixed media (4'46")</p>
      </div>
    </a>
  </details>
</div>
