.site-header {
  background-color: var(--background-color);
  box-shadow: var(--shadow-sm);
  z-index: 1000;
  position: relative;
  margin-bottom: var(--gap);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: var(--bg-dim);

  a {
    color: var(--surface);
  }

  @media (max-width: 900px) {
    margin-bottom: 0;
  }
}

.index-link {
  font-size: clamp(1rem, 4vw, 1.5rem);
  font-weight: bold;
  text-decoration: none;
  padding-right: 1rem;
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Menu Toggle Button */
.menu-toggle-checkbox {
  display: none;
}

.menu-toggle-label {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  user-select: none;
  line-height: 1;
  padding-bottom: 12px;
  margin: 0;
  z-index: 1100;

  @media (max-width: 900px) {
    display: block;
  }
}

/* NAVIGATION */
.navbar {
  display: flex;

  @media (max-width: 900px) {
    position: fixed;
    top: 0;
    right: 0;
    width: 50vw;
    height: 100vh;
    background-color: var(--accent-color);
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.05);
    transform: translateX(100%);
    transition: transform 0.4s ease;
    align-items: center;
    justify-content: center;
  }
}

.menu-toggle-checkbox:checked ~ .navbar {
  transform: translateX(0%);
}

.navbar-list {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (max-width: 900px) {
    flex-direction: column;
    align-items: center;
  }

  li {
    display: inline-block;
    margin: 0;
  }

  a {
    position: relative;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.05em;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    transition: color var(--transition);

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 0;
      height: 2px;
      background-color: var(--surface);
      transition: width 0.3s ease;
    }

    &:hover::after,
    &:focus::after {
      width: 100%;
    }

    &:hover,
    &:focus {
      outline: none;
    }
  }
}

.site-footer {
  padding-top: $gap-sm;
  padding-bottom: $gap-xs;
  background-color: var(--accent-color);
  text-align: center;
  user-select: none;
}

.social-media-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: $gap-xs;

  a {
    color: var(--text-accent);
    font-size: $fs-lg;
    transition: color var(--transition);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:hover,
    &:focus {
      color: var(--link-hover);
      outline: none;
    }
  }
}

.footer-copy {
  margin: 0;
  font-weight: 400;
  letter-spacing: 0.05em;
  font-size: $fs-xs;
  color: var(--text-muted);
}
