<!doctype html>
<html lang="en">
  <head>
    <link rel="preload" as="font" type="font/woff2" href="{{ '/_assets/fonts/Figtree/Figtree-Variable.woff2' | relative_url }}" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ '/_assets/fonts/Figtree/Figtree.css' | relative_url }}">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="{{ '/' | absolute_url }}">
    <link rel="stylesheet" href="{{ '/_assets/css/main.css' | relative_url }}">
    <title>{{ page.title }} | Connor Simpson</title>
  </head>

  <script data-goatcounter="https://connorsimpsonmusic.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
  <body class="{{ page.body_class }}">
    <div class="body-container">
      <div class="content-wrap">
        {% include header.html %}
        {{ content }}
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
