---
layout: default
---

<section class="container works-page-content">
  <div class="works-page-container">

    <div class="work-layout-bar">
      {% include search-bar.html style="side-search" %}
      {% include list-of-works.html %}
    </div>

    <div class="work-body glass-pane">

      <div class="work-header">
        <div class="work-title">
          <h2>{{ page.title }}</h2>
        </div>
        <a href="/works" class="back-to-works">← Back to Works</a>
      </div>

      {% if page.youtube_id %}
        {% include youtube-player.html youtube_id=page.youtube_id title=page.title context="works" %}
      {% endif %}

      <div class="work-text">
        {% if page.blurb %}
        <div class="video-blurb">
          <p>{{ page.blurb }}</p>
        </div>
        {% endif %}

        {% if page.performers %}
         <div class="performers-list">
            {% for performer in page.performers %}
              <li>{{ performer }}</li>
            {% endfor %}
         </div>
        {% endif %}

        {% if page.dedication %}
        <div class="work-dedication">
          <p>{{ page.dedication }}</p>
        </div>
        {% endif %}

        {% if page.program_notes %}
        <div class="program-notes">
          <h3>Program Notes:</h3>
          <p>{{ page.program_notes }}</p>
        </div>
        {% endif %}

        {% if page.lyrics %}
          <div class="lyrics {% if page.lyrics_align == 'left' %}left-align{% else %}center-align{% endif %}">
            {% if page.lyrics_title %}<h3>{{ page.lyrics_title }}</h3>{% endif %}
            {% if page.lyrics_author %}<p class="author">{{ page.lyrics_author }}</p>{% endif %}
            {% for stanza in page.lyrics %}
              <p class="stanza">
                {{ stanza | newline_to_br }}
              </p>
            {% endfor %}
          </div>
        {% endif %}

        {% if page.score_url %}
        <div class="score">
          <a href="{{ page.score_url }}">View Score</a>
        </div>
        {% endif %}

        {% if page.purchase_url %}
        <div class="jwpepper-plug">
          <p>
            Score available for purchase on
            <a href="{{ page.purchase_url }}">{{ page.purchase_label | default: "JW Pepper" }}</a>
          </p>
        </div>
        {% endif %}

        {% if page.soundcloud_url %}
          {% include soundcloud-player.html url=page.soundcloud_url %}
        {% endif %}

        <div class="contact-for-performance">
          <p>If interested in performing this work, contact me at <a href="mailto:csimpsoncomposer@gmail.com">csimpsoncomposer@gmail.com</a>.</p>
        </div>

      </div>
    </div>
  </div>
</section>
